<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mystripepayment">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".MyStripePaymentِActivity"
            android:label="@string/title_activity_my_strip"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PaymentActivity"
            android:label="@string/title_activity_payment"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!--<activity-->
            <!--android:name=".MyStripePaymentِActivity"-->
            <!--android:label="@string/title_activity_my_strip"-->
            <!--android:theme="@style/AppTheme.NoActionBar"/>-->
    </application>

</manifest>